# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Swap file
*.swp

# Markdown backup
*.backup

# Build directory
build/

# Build directory
bin/

# Ctags file
tags

# python
__pycache__
*.pyc

# clang autocomplete
.clang_complete

#vs codium
.vscode/
